<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    
{% seo %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/normalize.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/cayman.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <script type="text/javascript">
      jQuery(document).ready(function(){
        jQuery('#togglescript').live('click', function(event) {
          if (jQuery("#script_view").is(':visible')) {
              jQuery("#script_view").hide();
              jQuery('#togglescript').text("Show");
          } else {
              jQuery("#script_view").show();
              jQuery('#togglescript').text("Hide");
          }
        });
      });
    </script>
    <script type="text/x-mathjax-config">
       MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          processEscapes: true
        }
      });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

  </head>
  <body>
    {% include page-header.html %}

    <section class="main-content">
      
      {{ content }}

      {% include page-footer.html %}

    </section>

  </body>
</html>